In [ ]:
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")  # 3 hours

In [ ]:
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")

# Operators
* Arthematic Operators
    * Addition ( + )
    * Subtraction ( - )
    * Multiplication ( * )
    * / (Division)
    * % (modulus)
    * // (Floor Division)
* Assignment Operators
    * =
    * +=
    * -=
    * *=
    * /=
    * //=
    * %=
* comparision Operator
* Logical Operator
* Membership Operators

In [ ]:
integer : int = 123
float_type :float = 1.2
boolean :bool = True  # False 
lsit :list[str] = ["hamza"]

In [ ]:
# Addition
print(5 + 5)
number_1 : int = 10
number_2 :float = 5.6
number_3 :int = 45
print(number_1 + number_2)

In [ ]:
# Subtraction
number_1 : int = 10
number_3 :int = 45
print(number_3 - number_1)

In [ ]:
# Multiplication
number_1 : int = 10
number_3 :int = 4
print(number_1 * number_3)

In [ ]:
# Division 
number_1 : int = 10
number_3 :int = 4
print(number_1 / number_3)

In [ ]:
# Modulus
number_1 : int = 5
number_2 :int = 2
print(number_1 % number_2)

In [ ]:
# Floor Division
number_1 : int = 5
number_2 :int = 3
print(number_1 / number_2)
print(number_1 // number_2)

# Assignment Operators

In [ ]:
name : str = "Hamza"
print(name)

In [ ]:
#  += 
num_1: int = 5
# num_1 = num_1 + 5
# print(num_1)

num_1 += 5
print(num_1)

In [ ]:
# -=
a : int = 4
# a = a - 2
# print(a)

a -= 2
print(a)

In [ ]:
# *=
a : int = 2
# a = a * 4
# print(a)

a *= 4
print(a)

In [ ]:
# /=
a : int = 4
a /= 2
print(a)

In [ ]:
# %=
a : int = 7
# a = a % 3
# print(a)

a %= 3
print(a)

In [ ]:
# //=
a : int = 9
# a /= 5
a //= 5
print(a)

# Comparision Operators
* ==
* !=
* (>)
* (<)
* (>=)
* (<=)

In [ ]:
a : int = 7
b : int = 6
# print(a == b)
# print(a == a)

c : str = "hamza"
d : str = "Hamza"
print(id(c))
print(id(d))
print(c == d)
print(c == c)

In [ ]:
a : int = 7
b : int = 6
print(a != b)
c : str = "hamza"
d : str = "Hamza"
print(c != d)

In [ ]:
a : int = 7
b : int = 6
print(a > b)
print(a > 7)

In [ ]:
a : int = 7
b : int = 6
print(a < b)
print(b < 6)

In [ ]:
a : int = 7
b : int = 6
print(a >= b)
print(a >= 7)

In [ ]:
a : int = 7
b : int = 6
print(a <= 8)
print(a <= 7)
print(a <= 6)

# Logical Operators
* and (all comparision should True)
* or (At least one logic should True)
* not

In [63]:
a : int = 7
b : int = 6
result :bool = b == a and a > b and b >= a and a == b
#               False      True       False       False
print(result)
result :bool = b == 6 and a > b and b >= 6
print(result)

False
True

In [65]:
a : int = 7
b : int = 6
result :bool = b == a or a > b or b >= a or a == b
#               False      True       False       False
print(result)

True

In [69]:
name : str = "hamza"
print(not name == "hamza")
print(not name == "Hamza")
print(name == "hamza")

False
True
True

# Identity OPerators
* is 
* is not

In [73]:
name_1 :str = "Hamza"
name_2 :str = "hamza"

print(name_1 is name_2)

False

In [76]:
name_1 :str = "Hamza"
name_2 :str = "Aslam"

print(name_1 is not name_2)
print(name_1 is not name_1)

True
False

# Membership Operators
* in
* not in

In [2]:
from typing import List
names: List[str] = ["Hamza", "Aslam", "Yousuf"]
print("Hamza" in names)

False

In [78]:
from typing import List
names: List[str] = ["Hamza", "Aslam", "Yousuf"]
print("Hamza" not in names)

False

# Loop

In [80]:
from typing import List
names: List[str] = ["Hamza", "Aslam", "Yousuf"]
print(f'Hello {names[0]}')
print(f'Hello {names[1]}')
print(f'Hello {names[2]}')

Hello Hamza
Hello Aslam
Hello Yousuf

# for Loop
``` 
for local_variable_name in iterable_type:
    logic
```

In [82]:
from typing import List
names: List[str] = ["Hamza", "Aslam", "Yousuf"]
for name in names:
    print(f'Hello {name}')

Hello Hamza
Hello Aslam
Hello Yousuf