In [ ]:
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")  # 3 hours

In [ ]:
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")
print("hello WOrld")

# Data Types
* String (str)  "" '' any text in single or double quotation
* Number (int) any number
* Float (float) any number in decimal (5.3)
* Boolean (Bool) only True Flase
* List (List)

# operators
* Arthmatic Operator
    * Addition(+)
    * Subtraction(-)
    * Multiplication(*)
    * Division(/)
    * modulus(%)
    * Floor Division(//)

In [ ]:
# Adddition
number_1 : int = 5
number_2 : int = 6
print(number_1 + number_2)

name_1 : str = "Hamza"
name_2 : str = "Aslam"
print(name_1 + " " + name_2)

In [ ]:
# subtraction
number_1 : int = 6
number_2 : int = 5
print(number_1 - number_2)
name_1 : str = "Hamza"
name_2 : str = "Aslam"
print(name_1 - name_2)

In [ ]:
# Multiplication
number_1 : int = 5
number_2 : int = 6
print(number_1 * number_2)

In [ ]:
# Division
number_1 : int = 5
number_2 : int = 6
result : float = number_1 / number_2
print(result)
type(result)

In [ ]:
# Modulus
number_1 : int = 5 # -1 = 4
number_2 : int = 2
print(number_1 % number_2)

In [ ]:
# floor division
number_1 : int = 9
number_2 : int = 5
print(number_1 / number_2)
print(number_1 // number_2)

# Assignment Operators
* (=)
* (+=)
* (-+)
* (*=)
* (/=)
* (%=)
* (//=)

In [ ]:
name:str = "hamza" 
print(name)

In [ ]:
num: int = 5
# num = num + 5
# print(num)

num += 5
print(num)

In [ ]:
num: int = 5
num = num - 2
print(num)

num -= 1
print(num)

In [ ]:
num: int = 5
# num = num*3
# print(num) 
num *= 4
print(num)

In [ ]:
num: int = 10
# num = num/3
# print(num)
num /= 3
print(num)

In [ ]:
num: int = 5
# num = num%2
# print(num)
num %= 2
print(num)

In [ ]:
num: int = 9
print(num/5)
# num = num//5

num //= 5
print(num)

# comparision operator
* (==)
* (!=)
* (>)
* (<)
* (>=)
* (<=)

In [ ]:
num: int = 5
print(num == 5)
print(num == 6)

In [ ]:
num: int = 5
print(num == 5)
print(num != 5)

In [ ]:
num: int = 5
print(num > 4)
print(num > 6)
print(num > 5)

In [ ]:
num: int = 5
print(num < 4)
print(num < 7)
print(num < 5)

In [ ]:
num: int = 5
print(num > 5)
print(num >= 5)

In [ ]:
num: int = 5
print(num < 5)
print(num <= 5)

# Logical Operators
* and (all comparision should True) 
* or (At least one comparision should True)
* not

In [ ]:
num: int = 5
result: bool = num == 5 and num > 3 and num < 6 and num <= 6 and num >= 5
#               True          True         True         True       True
print(result)

result: bool = num != 5 and num > 3 and num < 6 and num <= 6 and num >= 5
#               False       True         True         True       True
print(result)

In [ ]:
num: int = 5
result: bool = num != 5 or num < 3 or num > 6 or num >= 6 or num <= 5
#               False        False      False     False       True
print(result)

In [ ]:
num: int = 5
result: bool = num != 5 or num < 3 or num > 6 or num >= 6 or num <= 5
#               False        False      False     False       True
print(not result)
name : str = "Yousuf"
print(not name)

# Identity Operators
* is 
* is not

In [ ]:
name : str = "Yousuf"
name_1 : str = "Yousuf"
name_2 : str = "Qutubuddin"
print(name is name_1)
print(name == name_1)

print(name is name_2)
print(name == name_2)

In [ ]:
name : str = "Yousuf"
name_1 : str = "Yousuf"
name_2 : str = "Qutubuddin"
print(name is not name_1)
print(name is not name_2)

# Membership Operators
* in 
* not in

In [ ]:
from typing import List
names : List[str] = ["Yousuf", "Hamza", "Sir Zia", "Sir Qasim"]
print("Sir Zia" in names)
print("Sir Ameen" in names)

In [ ]:
from typing import List
names : List[str] = ["Yousuf", "Hamza", "Sir Zia", "Sir Qasim"]
print("Sir Ameen" not in names)
print("Sir Qasim" not in names)

In [ ]:
name = "hamza"
print("a" in name)