In [ ]:
def greeting(name:str)->None:
  print(f"Hello {name}")
greeting("Hamza")

Hello Hamza

In [ ]:
for n in range(1, 10+1, 2 ):
  print(n)

1
3
5
7
9

# recursive function
1 x 2 = 2

2 x 3 = 6

2 x 3 x 4 = 24

2 x 3 x 4 x 5 = 120

In [ ]:
def fact(n):
  if n == 0 or  n == 1:  # Base case: factorial of 0 is 1
    return 1
  else:
    result = n * fact(n - 1)  # Recursive step
    return result  # Return the calculated result

print(fact(5)) # Call the function and print the result
# 1 x 2 x 3 x 4 x 5 = 120

120

In [ ]:
# prompt: write factorial of  5 with for loop do not create  function

factorial = 1
for i in range(1, 6):
  factorial *= i
# i= 1= 1 x 1 X 2 X 3 x 4 x 5 = 120

print(factorial)

120

In [ ]:
condi = False
if condi:
  print("hello")
else:
  print("by")

by