In [1]:
from typing import List
user_1 :List[str] = ["Hamza","M.Aslam","51","24"]
print(user_1)
print(user_1[0])
print(user_1[1])
print(user_1[2])
print(user_1[3])

['Hamza', 'M.Aslam', '51', '24']
Hamza
M.Aslam
51
24

# Dictionary
* key
  * replace indexing
* Value

## Syntax
```
data:Dict[str,str] = {"key":"Value", "Kaye_1":"value_1"}
```

In [5]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza", "father_name" : "Muhammad Aslam", "id" : "51"}
print(data)
# print(data[0]) # Error
print(data["name"])
print(data["father_name"])
print(data["id"])

{'name': 'Hamza', 'father_name': 'Muhammad Aslam', 'id': '51'}
Hamza
Muhammad Aslam
51

* All date types we can pass in value

In [18]:
from typing import Dict
data = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        "id" : 51,
        "percentage" : 94.6,
        "list" : [1,2,"ali"],
        "dict" : {"a" : 1, "b" : 2},
        "tuple" : (1,2,3),
        "set" : {1,2,3},
        "bool" : True
        }
# print(data)
display(data)

{'name': 'Hamza',
 'father_name': 'Muhammad Aslam',
 'id': 51,
 'percentage': 94.6,
 'list': [1, 2, 'ali'],
 'dict': {'a': 1, 'b': 2},
 'tuple': (1, 2, 3),
 'set': {1, 2, 3},
 'bool': True}

# key Types
* string
* inetger
* float
* tuple
* bool

In [22]:
from typing import Dict
data = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        51: "id",
        94.6 : "percentage",
        # [1,2,"ali"] : "list", # Error
        # {"a" : 1, "b" : 2} : "dict", #Error
        (1,2,3,4) : "tuple",
        # {1,2,3} : "set", # Error
        True : "bool"
        }
display(data)

{'name': 'Hamza',
 'father_name': 'Muhammad Aslam',
 51: 'id',
 94.6: 'percentage',
 (1, 2, 3, 4): 'tuple',
 True: 'bool'}

# Update Value

In [26]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
display(data)
data["name"] = "Muhammad Hamza"
display(data)

{'name': 'Hamza', 'father_name': 'Muhammad Aslam'}

{'name': 'Muhammad Hamza', 'father_name': 'Muhammad Aslam'}

# Add new item

In [30]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
data["age"] = "19"
data["city"] = "Karachi"
data["city"] = "Islamabad"

display(data)

{'name': 'Hamza',
 'father_name': 'Muhammad Aslam',
 'age': '19',
 'city': 'Islamabad'}

# Methods of Dict Type

In [ ]:
for i in dir(data):
  print(i)

In [34]:
[i for i in dir(data) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# Clear
* remove all item from dictionary

In [35]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
display("before",data)
data.clear()
display("after", data)

'before'

{'name': 'Hamza', 'father_name': 'Muhammad Aslam'}

'after'

{}

# copy
* provide a shallow copy

In [ ]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
new_data :Dict[str,str] = data
new_data["name"] = "Muhammad Hamza"
display(data)
display(new_data)

In [38]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
new_data :Dict[str,str] = data.copy()
new_data["name"] = "Muhammad Hamza"
display(data)
display(new_data)

{'name': 'Hamza', 'father_name': 'Muhammad Aslam'}

{'name': 'Muhammad Hamza', 'father_name': 'Muhammad Aslam'}

# Get
* provide value if exist in dictionary
* return by default None you can change it

In [ ]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
display(data["name"])
display(data["age"])

In [44]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
display(data.get("name","not found"))
display(data.get("age","not found"))

'Hamza'

'not found'

# Items
* return lis of tuple

In [47]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
items = data.items()
display(items)

dict_items([('name', 'Hamza'), ('father_name', 'Muhammad Aslam')])

# keys
* return all the keys in dictionary

In [48]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
display(data.keys())

dict_keys(['name', 'father_name'])

# Values
* return all Values

In [49]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        }
display(data.values())

dict_values(['Hamza', 'Muhammad Aslam'])

# pop
* remove a key and value (item)

In [53]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        "id" : 51,
        "percentage" : 94.6,
        }
display(data)
display(data.pop("id"))
display(data)

{'name': 'Hamza',
 'father_name': 'Muhammad Aslam',
 'id': 51,
 'percentage': 94.6}

51

{'name': 'Hamza', 'father_name': 'Muhammad Aslam', 'percentage': 94.6}

# popitem
* remove last item from dictionary

In [55]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        "id" : 51,
        "percentage" : 94.6,
        }
display("before", data)
display(data.popitem())
display("Afer", data)

'before'

{'name': 'Hamza',
 'father_name': 'Muhammad Aslam',
 'id': 51,
 'percentage': 94.6}

('percentage', 94.6)

'Afer'

{'name': 'Hamza', 'father_name': 'Muhammad Aslam', 'id': 51}

# setdefault
* return value if exist otherwise add key to dictionary

In [62]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
        "father_name" : "Muhammad Aslam",
        "id" : 51,
        "percentage" : 94.6,
        }
data.setdefault("id")
display(data.setdefault("age", "19"))

display(data)

'19'

{'name': 'Hamza',
 'father_name': 'Muhammad Aslam',
 'id': 51,
 'percentage': 94.6,
 'age': '19'}

# fromkeys
* create a dictionary from any iterable type

In [64]:
from typing import Dict, List
keys :List[str] = ["name", "father_name","age","id"]
data :Dict[str,str] = data.fromkeys(keys,"update soon")
display(data)

{'name': 'update soon',
 'father_name': 'update soon',
 'age': 'update soon',
 'id': 'update soon'}

# update
* extends dictionary from another dictionary

In [71]:
from typing import Dict
data :Dict[str,str] = {"name":"Hamza",
                       "father_name" : "Muhammad Aslam",
                       }
new_data :Dict[str,str] = {"id" : 51,
                           "percentage" : 94.6,
                           }
display("before",data)
data.update(new_data)


display(data)
display("after",new_data)

'before'

{'name': 'Hamza', 'father_name': 'Muhammad Aslam'}

{'name': 'Hamza',
 'father_name': 'Muhammad Aslam',
 'id': 51,
 'percentage': 94.6}

'after'

{'id': 51, 'percentage': 94.6}

# Union Type

In [ ]:
from typing import Dict, Union, List, Tuple

key = Union[str,int,float,Tuple, bool]
value = [str,int,float,Tuple, bool,set,Dict,List]

data :Dict[key,value] = {"name":"Hamza",
                       "father_name" : "Muhammad Aslam",
                       }

# Run Loop

In [77]:
from typing import Dict, Union, List, Tuple

key = Union[str,int,float,Tuple, bool]
value = Union[str,int,float,Tuple, bool,set,Dict,List]

data :Dict[key,value] = {"name": 'Hamza',
                         'father_name': 'Muhammad Aslam',
                         'id': 51,
                         'percentage': 94.6
                         }

for i in data:
  print(i)

name
father_name
id
percentage

In [78]:
from typing import Dict, Union, List, Tuple

key = Union[str,int,float,Tuple, bool]
value = Union[str,int,float,Tuple, bool,set,Dict,List]

data :Dict[key,value] = {"name": 'Hamza',
                         'father_name': 'Muhammad Aslam',
                         'id': 51,
                         'percentage': 94.6
                         }

for i in data:
  print(data[i])

Hamza
Muhammad Aslam
51
94.6

In [79]:
from typing import Dict, Union, List, Tuple

key = Union[str,int,float,Tuple, bool]
value = Union[str,int,float,Tuple, bool,set,Dict,List]

data :Dict[key,value] = {"name": 'Hamza',
                         'father_name': 'Muhammad Aslam',
                         'id': 51,
                         'percentage': 94.6
                         }

for i in data.keys():
  print(i)

name
father_name
id
percentage

In [80]:
from typing import Dict, Union, List, Tuple

key = Union[str,int,float,Tuple, bool]
value = Union[str,int,float,Tuple, bool,set,Dict,List]

data :Dict[key,value] = {"name": 'Hamza',
                         'father_name': 'Muhammad Aslam',
                         'id': 51,
                         'percentage': 94.6
                         }

for i in data.values():
  print(i)

Hamza
Muhammad Aslam
51
94.6

In [81]:
from typing import Dict, Union, List, Tuple

key = Union[str,int,float,Tuple, bool]
value = Union[str,int,float,Tuple, bool,set,Dict,List]

data :Dict[key,value] = {"name": 'Hamza',
                         'father_name': 'Muhammad Aslam',
                         'id': 51,
                         'percentage': 94.6
                         }

for i in data.items():
  print(i)

('name', 'Hamza')
('father_name', 'Muhammad Aslam')
('id', 51)
('percentage', 94.6)

# zip and unzip

In [83]:
from re import A
a = 5
b = 9
print(a , b)
a , b = b , a
print(a , b)

5 9
9 5

In [84]:
from typing import Dict, Union, List, Tuple

key = Union[str,int,float,Tuple, bool]
value = Union[str,int,float,Tuple, bool,set,Dict,List]

data :Dict[key,value] = {"name": 'Hamza',
                         'father_name': 'Muhammad Aslam',
                         'id': 51,
                         'percentage': 94.6
                         }

for k,v in data.items():
  print(f"{k} : {v}")

name : Hamza
father_name : Muhammad Aslam
id : 51
percentage : 94.6