# Loop
* syntax
```
for local_variable in iteratable_type:
    any logice
```

In [ ]:
name1: str = "hamza"
name2: str = "Yousuf"
name3:str = "Abdullah"
print(f"Hello {name1}")
print(f"Hello {name2}")
print(f"Hello {name3}")

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
print(f"Hello {names[0]}")
print(f"Hello {names[1]}")
print(f"Hello {names[2]}")
print(f"Hello {names[3]}")
# print(f"Hello {names[4]}")

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
for name in names:
    print(f"Hello {name}")

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
print(names)
names[3] = "Ali"
print(names)

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
for name in names:
    print(f"Hello {names[0]}")
    print(f"Hello {names[1]}")
    print(f"Hello {names[2]}")

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]

print(f"Hello {names[0]}")
print(f"Hello {names[1]}")
print(f"Hello {names[2]}")

In [ ]:
name :str = "Hamza"
for charac in name:
    print(charac)

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]

for name in names:
    print(f"Hello {name[0:3]}")

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]

for name in names[0:3]:
    print(f"Hello {name}")

# Slicing
* start
* end (it will always subtract 1 from end)
* steps
* execute left to right
```
iteratable_type_variable[start:end:steps]
```

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
print(names[0:2:0])

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
print(names[0:3])

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
print(names[0:5:1])

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
print(names[0:5:2])

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
print(names[0:5:3])

# Tuple
* Iteratable type
* non changable item

In [ ]:
from typing import Tuple
dimensions:Tuple[int,int] = (200,50)
print(dimensions[0])
print(dimensions[1])

In [ ]:
from typing import Tuple
dimensions:Tuple[int,int] = (200,50)
dimensions[1] = 100
print(dimensions)

In [ ]:
from typing import Tuple
dimensions:Tuple[int,int] = (200,50)
for dimension in dimensions:
    print(dimension)

# Range
* start
* end (it will always subtract 1 from end)
* steps

In [ ]:
numbers_list:List[int] = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
numbers_list:List[int] = list(range(1,101))
# print(numbers_list)
for i in numbers_list:
    print(i)

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
even_numbers:List[int] = list(range(2,101,2))
print(even_numbers)

In [ ]:
odd_numbers:List[int] = list(range(1,101,2))
print(odd_numbers)

In [ ]:
numbers:List[int] = list(range(1,11))
for i in numbers:
    print(f"5 x {i} = {i*5}")

In [ ]:
for i in range(1,11):
    print(f"5 x {i} = {i*5}")

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
new_names:List[str] = names
print(names)
print(new_names)
new_names[2] = "Ahmad"
print(names)
print(new_names)

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
new_names:List[str] = names.copy()
print(names)
print(new_names)
new_names[2] = "Ahmad"
print(names)
print(new_names)

In [ ]:
from typing import List
names: List[str] = ["Yousuf", "Hamza", "Abdullah", "Umar", "Haseeb"]
new_names:List[str] = names[:]
print(names)
print(new_names)
new_names[2] = "Ahmad"
print(names)
print(new_names)

In [ ]:
magicians:list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

In [ ]:
players:list[str] = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[:4])

In [ ]:
players:list[str] = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[2:])

In [ ]:
players:list[str] = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[:])

In [ ]:
players:list[str] = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[-1:0:-1])

In [ ]:
players:list[str] = ['charles', 'martina', 'michael', 'florence', 'eli']
[f"{player.title()}, that was a great trick!" for player in players]

# Errors

In [ ]:
message:str = "Hello Python world!"
    print(message)

In [ ]:
magicians:list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
print(f"{magician.title()}, that was a great trick!")

In [ ]:
magicians:list[str] = ['alice', 'david', 'carolina']
for magician in magicians
    print(f"{magician.title()}, that was a great trick!")

In [ ]:
for i in range(1,11):
    print(i**2)

In [ ]:
squares:List[int] = []
for i in range(1,11):
    square:int = i**2
    squares.append(square)

print(squares)

# Comprehensive Loop / List Comprehensive
* one line loop
```
[logic for local_variable in iteratable_type]
```

In [ ]:
for i in range(1,11):
    print(i**2)

In [ ]:
print([i**2 for i in range(1,11)])

In [79]:
number:int = 564
for i in number:
    print(i)

TypeError: 'int' object is not iterable

In [80]:
number:str = "564"
for i in number:
    print(i)

5
6
4