# Functions
* block of code run when call
* reuseable
* stop repeatation
## pre-defined function
* print()
* list()
* str()
* int()
* id()
* chr()
## User-defined function
* defined by a programmer
## syntax
```
def function_name(parameter1: type, parameter2: type)->type: # function definition
  logic  # function body
function_name(argument1, argument2) # function calling
```
## Return or Non-return
* if you can store the result of function in a variable is called a return function
* if you can not store the result of function in a variable is called a non-return function

In [3]:
a: int = 5
b: int = 10
sum: int = a + b
print(sum)

# more lines of code 100
a = 6
b = 17
sum = a + b
print(sum)

# more lines of code 100

a = 19
b = 2319
sum = a + b
print(sum)

15
23
2338

In [5]:
def hello()-> None:
  print("hello")
hello()

hello

# positional required parameter function
* a function with required length of parameters
## non-return function

In [23]:
def sum(a:int, b:int)-> None:
  print(a + b)
sum(6, 7)

13

In [14]:
def sum(a:int, b:int)-> None:
  print(a + b)
result: int = sum(9, 15)
print(result)

24
None

# return function

In [17]:
def sum(a:int, b:int)-> int:
  output: int = a + b
  return output
result: int = sum(9, 15)
print(result)
print(result)

24
24
24

In [19]:
def biryani(raita: str, salad: str) -> None:
  meat : str = "chicken"
  rice : int = 1
  masale : str = "xyz"
  print(f"The biryani is ready! with your {raita} and { salad}")
biryani("green raita" , "salad with mushroom")

The biryani is ready! with your green raita and salad with mushroom

# default function
* a function without a parameter or argument

In [20]:
def greeting()->None:
  print("hello how are you?")
greeting()

hello how are you?

# optinal parameter function
* a function with optional parameter or argument

In [34]:
def prod(c: int, d: int = 1)-> None:
  print(c * d)
prod(5)
prod(5, 8)
prod(5, 5)
prod(5, 3)
prod(5, 7)

5
40
25
15
35

In [49]:
def prod(c: int, d: int = 1, e : int = 1)-> None:
  print(c * d * e)
prod(5)
prod(5,2)
prod(5,2,6)
# prod(5,2,6,8)

5
10
60

In [30]:
print("hello","hamza", end = " ")
print("hello","ali")

hello hamza hello ali

# lambda functions / annonymous function
* one-line function
* use only one time

## syntax
```
lambda parameter1, parameter2 : function body
```

In [35]:
product = lambda a, b : a * b
product(8,5)

40

In [36]:
from typing import List
numbers :List[int] = [1,2,3,4,5,6,7,8,9,10]
for item in numbers:
  print(item**2)

1
4
9
16
25
36
49
64
81
100

In [41]:
from typing import List
numbers :List[int] = [1,2,3,4,5,6,7,8,9,10]
def square(item)->None:
  print(item**2)
result = list(map(square, numbers))
print(result)

1
4
9
16
25
36
49
64
81
100
[None, None, None, None, None, None, None, None, None, None]

In [43]:
from typing import List
numbers :List[int] = [1,2,3,4,5,6,7,8,9,10]
result = list(map(lambda item: item**2, numbers))
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
print("hello", 1, True,[1,2,3],{"name": "hamza"}, (1,2,3,4,5),"hello",18.3)

hello 1 True [1, 2, 3] {'name': 'hamza'} (1, 2, 3, 4, 5) hello 18.3

# pass multiple arguments
* you can pass many argument at the time of calling function

In [53]:
def data_base(student1,student2,student3,student4):
  print(student1,student2,student3,student4)
data_base("hamza", "ali", "umar", "Humaiyon","abdullah")

TypeError: data_base() takes 4 positional arguments but 5 were given

In [59]:
def data_base(*students:tuple[str,...])->None:
  print(students)
data_base("hamza", "ali", "umar", "Humaiyon","abdullah","Huzaifa","Ahamd")

('hamza', 'ali', [1, 2, 3])

In [60]:
def data_base(*students)->None:
  print(students)
data_base("hamza", "ali", "umar", [1,2,3])

('hamza', 'ali', 'umar', [1, 2, 3])

In [68]:
def sum(a: int, b: int , *c: tuple[int,...])->None:
  sum_c: int = 0
  for i in c:
    sum_c += i
  print(a + b + sum_c)

sum(2,3)
sum(2,3,4,5,6,7,8,9,10)

5
54

# pass multiple Dictionary as an argument

In [70]:
from typing import Dict
def data_base(**students: Dict[str,str])->None:
  print(students)
data_base(name = "hamza", institute = "PIAIC")

{'name': 'hamza', 'institute': 'PIAIC'}

In [73]:
from os import name
def result(a: int, b: int , *c: tuple[str,...], **d: Dict[str,str])->None:
  print(a,b,c,d)
result(2,3)
result(2,3, "hello","hi","bye")
result(2,3, "hello","hi","bye", name = "hamza", institute = "PIAIC")

2 3 () {}
2 3 ('hello', 'hi', 'bye') {}
2 3 ('hello', 'hi', 'bye') {'name': 'hamza', 'institute': 'PIAIC'}